<h1>商品新規登録</h1>
<%= form_for(@product, url: {controller: "products", action: "create"}) do |f| %>
<div class= "img_area">
	<%= f.attachment_field :image %>
</div>
<div class= "product_text_area">
	<p>商品名</p><%= f.text_field :name %>
	<p>商品説明</p><%= f.text_area :introduction %>
	<p>ジャンル</p>　<!-- セレクトボックス追加 -->
	<p>税抜き価格</p><%= f.text_field :price %>円
	<p>販売ステータス</p><%= f.select :is_active, [['販売中',false],['販売停止中',true]], { include_blank: '--選択してください--' } %>
</div>
<%= f.submit '新規登録' %>
<% end %>